---

---

@import 'colors';

.content-top {
    display: grid;
    display: -webkit-grid;
    grid-template-columns: inherit;
    -webkit-grid-template-columns: inherit;
    grid-column: 1 / -1;
    -webkit-grid-column: 1 / -1;
    width: 100%;
    height: 100px;
    background: $blue;
    align-items: center;
}
.content-top h1 {
    grid-column: content-start / content-end;
    -webkit-grid-column: content-start / content-end;
    color: $white;
}

.content {
    display: grid;
    display: -webkit-grid;
    grid-template-columns: [content-start] repeat(2, 1fr) [content-end];
    -webkit-grid-template-columns: [content-start] repeat(2, 1fr) [content-end];
    grid-column: content-start / content-end;
    -webkit-grid-column: content-start / content-end;
    grid-auto-rows: max-content;
    -webkit-grid-auto-rows: max-content;
    gap: 10px 10px;
    -webkit-grid-gap: 10px 10px;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
picture {
    grid-column: content-start / content-end;
    -webkit-grid-column: content-start / content-end;
    display: flex;
    justify-content: center;
}
.picture {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: inherit;
    justify-items: center;
    align-items: center;
}
picture img{
    max-width: 100%;
    height: auto;
}
.picture img {
    width: 100%;
    height: auto;
}
.content p {
    grid-column: content-start / content-end;
    -webkit-grid-column: content-start / content-end;
    text-align: justify;
}

ul {
    grid-column: content-start / content-end;
    -webkit-grid-column: content-start / content-end;
    text-align: justify;
}
@media screen and (orientation: portrait) {
    .content {
        grid-template-columns: [content-start] 1fr [content-end];
        -webkit-grid-template-columns: [content-start] 1fr [content-end];
        grid-column: content-start / content-end;
    }
    img {
        width: 90vw;
    }
}