---

---
@import 'colors';

.brochure {
    display: grid;
    grid-column: content-start / content-end;
    grid-template-columns: [content-start] repeat(2, 1fr) [content-end];
    grid-template-rows: auto;
    justify-content: center;
    gap: 10px 10px;
    padding-top: 10px;
}
.brochure img {
    width: 100%;
}
.table {
    grid-column: content-start / content-end;
    width: 100%;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid $black;
    margin-top: 10px;
    font-size: 1rem;
}
th, td {
    border:2px solid $black;
    padding: 0.5rem;
}

@media screen and (max-width: 1000px) {
    .brochure {
        grid-template-columns: auto;
    }
    .table {
        overflow: auto;
        max-width: 100vh;
    }
    .brochure img {
        width: 90vw;
    }
}